/*! For mobile */

@media screen and (max-width: 576px) {
  /* navbar section starts  */
  .navbar {
    flex-direction: column;
  }
  .item {
    display: block;
  }
  .item-1 {
    padding: 3.8rem 0 2rem 0;
  }
  .item-2 {
    padding: 0 0 4.3rem 0;
  }
  /* navbar section ends  */

  /* banner section starts */
  main {
    background-image: none;
  }
  .play-title {
    text-align: center;
  }
  .banner-section {
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .banner-img {
    width: 100%;
    padding-top: 2rem;
  }
  .banner-text {
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url('../images/bg.png');
    background-size: contain;
  }
  .goat-title {
    text-align: center;
  }
  .banner-para {
    text-align: center;
  }
  /* banner section ends */

  /* Online games funny video section starts  */
  .title-section {
    margin-top: 2rem;
  }
  .game-cards-section {
    width: 90%;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .card > p {
    color: #534c64;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem; /* 150% */
  }
  /* Online games funny video section ends  */

  /* play games online section style starts here  */
  .play-games-section {
    width: 100%;
    flex-direction: column-reverse;
    margin: 0 auto 6rem;
    padding: 0;
  }
  .play-games-text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .play-games-title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .play-games-description {
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }

  .play-games-image {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    right: 1rem;
  }
  .small-image {
    width: 8rem;
    border-radius: 0.5rem;
    border: 3px solid #fff;
    position: absolute;
    bottom: -2rem;
    right: -2rem;
  }
  /* play games online section style ends here  */
  /* Games category style starts here */
  .game-category {
    gap: 0.5rem;
  }
  .game-circle {
    gap: 1;
    width: 25rem;
    flex-basis: 6rem;
    /* border: 1px solid #ff42a5; */
  }
  .game-circle img {
    width: 2.1rem;
  }
  .game-circle p {
    font-size: 0.5rem;
  }
  /* Games category style ends here */
  /* footer style starts here  */
  .footer-about {
    padding: 0 1rem;
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 3.5rem;
    cursor: pointer;
  }
  .footer-about-description {
    padding: 1.2rem;
  }
  .footer-policy {
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 0.8rem;
    cursor: pointer;
  }
  .footer-policy-description {
    padding: 1.2rem;
  }

  .footer-copyright {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 4rem;
  }
  /* footer style ends here  */
}

/*! For Tablets  */

/* navbar section starts  */

@media screen and (min-width: 576px) and (max-width: 770px) {
  .navbar {
    flex-direction: column;
  }
  .play-title {
    text-align: center;
  }
  .item {
    display: block;
  }
  .item-1 {
    padding: 3.8rem 0 2rem 0;
  }
  .item-2 {
    padding: 0 0 4.3rem 0;
  }
  /* navbar section ends  */

  /* banner section starts */
  main {
    background-image: none;
  }
  .banner-section {
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .banner-img {
    width: 100%;
    padding-top: 2rem;
  }
  .banner-text {
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url('../images/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .goat-title {
    text-align: center;
  }
  .banner-para {
    text-align: center;
  }
  /* banner section ends */

  /* Online games funny video section starts  */
  .title-section {
    margin-top: 2rem;
  }
  .game-cards-section {
    width: 90%;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0; */
  }
  .cards img {
    width: 100%;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    margin-top: 0;
    margin-bottom: 3rem;
    width: 100%;
  }

  .card > p {
    color: #534c64;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    width: 100%;
  }
  /* Online games funny video section ends  */

  /* play games online section style starts here  */
  .play-games-section {
    width: 100%;
    flex-direction: column-reverse;
    margin: 0 auto 6rem;
    padding: 0;
  }
  .play-games-text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .play-games-title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .play-games-description {
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }

  .play-games-image {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    right: 1rem;
  }
  .small-image {
    width: 8rem;
    border-radius: 0.5rem;
    border: 3px solid #fff;
    position: absolute;
    bottom: -2rem;
    right: -2rem;
  }
  /* play games online section style ends here  */

  /* Games category style starts here */
  .game-category {
    gap: 1.5rem;
  }
  .game-circle {
    gap: 2.125rem;
    width: 12.5rem;
    flex-basis: 12rem;
    /* border: 1px solid #ff42a5; */
    border-radius: 3.125rem;
  }
  .game-circle img {
    width: 3.5rem;
  }
  .game-circle p {
    font-size: 1rem; /*0.5*/
  }
  /* Games category style ends here */

  /* footer style starts here  */
  .footer-about {
    padding: 0 1rem;
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 3.5rem;
    cursor: pointer;
  }
  .footer-about-description {
    padding: 2rem 3rem;
  }
  .footer-policy {
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 0.8rem;
    cursor: pointer;
  }
  .footer-policy-description {
    padding: 2rem;
  }

  .footer-copyright {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 4rem;
  }
  /* footer style ends here  */
}
